@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #212121;
}

.card-content{
    display: flex !important;
}

.card{
    width: 40%;
    cursor: pointer;
}

.UserItem-LeftBox{
    width: 20%;
}

.UserItem-RightBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UserItem-name,
.UserItem-facebook{
    font-family: 'Roboto', sans-serif;
}

.UserItem-name{
    font-size:  1.2em;
    margin: 0;
}

.UserItem-facebook{
    font-size: 1em;
    margin:0;
}

.UserItem-image{
    width: 120px;
}

.Home{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Home-PreLoader{
    display: flex;
    height: 100%;
    align-items:  center;
    justify-content: center;
}