.UserDetailCover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}

.UserDetailCover-img{
    width: 100px;
}

.UserDetailBody{
    background-color: #e8e8e8;
    height: 60vh;
}